html, * {
  margin: 0;
  padding: 0;
  text-decoration: 0;
}

body {
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: normal;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin: 10px 30px 10px 10px;
}

a {
    color: #f11075;
}

.conteudo {
   background-color: #f11075;
}

.titulo {
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.texto {
    color: white;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400; 
    line-height: normal;
    text-align: left;
}

.formulario {
  background-color: white;
  color: black;
  margin: 40px 20px 20px 40px;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  border: 20px;
}

input{
    border-radius: 5px;
    width: 200px;
    height: 20px;
}

button {
  border-radius: 5px;
  background-color: #f11075;
  border: rgb(255, 255, 255);
  width: 230px;
  height: 25px;
  color: white;
}

.botão {
    text-align: center;
    width: 1000px;
}

footer {
  background-color: white;
}

/* .icones{
    display: flex;
    flex-direction:; 
    justify-content: space-between;
    max-height: 56px;
    height: 15%;
    background-color: white;
    padding-top: 8px;
} */

.icones img {
  width: 30px;
}

.rodape footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.rodape {
  position: absolute;
  width: 100%;
  bottom: 0;
}
